@using EC.Entity.Enum
@using EC.Libraries.Util
@model EC.Entity.Tables.CRM.CrCustomer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var statusEnum = EnumUtil.GetJsonEnum(typeof(FnEnum.CashoutStatus));
}
@section HeadCss{
    <link rel="stylesheet" href="@Url.Content("~/Theme/plugins/Pager/css/pager.css")" />
}
@section HeadJs{
    <script src="@Url.Content("~/Theme/plugins/Pager/pager.js")"></script>
    <script src="@Url.Content("~/Theme/plugins/Pager/customPager.js")"></script>
    <script src="@Url.Content("~/Theme/js/UI/CashoutLogPager.js")"></script>
    <script type="text/javascript">
        $(function() {
            cashoutLogPager.control.url = '@Url.Action("CashoutLogQuery", "Me")';
            cashoutLogPager.control.sendInfoUrl = '@Url.Action("SendInfo", "Fans")';
            cashoutLogPager.control.statusEnum = eval(@statusEnum);
            cashoutLogPager.handler.init();
        });
    </script>
}
<div class="topt mgz"></div>
<div class="top mgz xi28 cen bai">
    提现记录
    <div class="topl"><a href="@Url.Content("~/Me/Index")"><img src="/Theme/images/left.png" align='absmiddle' style="margin-top:-4px"></a></div>
</div>
@Html.Action("FundShow", "Me")
<div class="con5 mgz" id="divPager">
    <ul id="divContent"></ul>
</div>
@section script{
    <script type="text/javascript">
        $(function() {
            Search();
        });

        function Search() {
            //UI.WebPager(".paging", { ajax: { url: '@Url.Action("CashoutLogQuery", "Me")' } });
        }
    </script>
}
