@using EC.Entity.Enum
@model EC.Entity.Tables.CRM.CrCustomer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var currentGrade = ViewBag.currentGrade as EC.Entity.View.CRM.GradeView;
}
<div class="topt mgz"></div>
<div class="top mgz xi28 cen bai">
    代理升级
    <div class="topl"><a href="@Url.Content("~/Me/Index")"><img src="/Theme/images/left.png" align='absmiddle' style="margin-top:-4px"></a></div>
</div>
@Html.Action("FundShow", "Me")
<form id="form" class="am-form tpl-form-line-form">
    <div class="con4 mgz">
        <ul>
            <li>
                <div class="con4l f xi24">当前级别</div>
                <div class="con4m f xi20">@((CustomerEnum.Grade)Model.Grade)</div>
            </li>
            <li>
                <div class="con4l f xi24">下一级别</div>
                <div class="con4m f xi20"><input type="hidden" name="grade" value="@(currentGrade.Type)" /> @(currentGrade.Name)
                </div>
            </li>
            <li>
                <div class="con4l f xi24">扣费金额</div>
                <div class="con4m f xi20 deductedAmount">0.00</div>
                @*<a href="@Url.Action("Recharge", "Me")"><div class="con4rss r xi22 cen">基金充值</div></a>*@
            </li>
            <li>
                <div class="con4l f xi24">在线支付</div>
                <div class="con4m f xi20 onlinePaymentAmount">0.00</div>
            </li>
        </ul>
    </div>
    <div class="con9 mgz xi18">代理升级费用将从“升级基金”中扣除，不足部分需在线支付</div>
    <a href="#" class="submit"><div class="con10 mgz xi30 cen bai mg2">确认</div></a>
</form>
@section script{
    <script type="text/javascript">
        $(function() {
            var form = $("#form");

            $("select[name='grade']").change(function () {
                UI.Loading();

                var grade = $("select[name='grade']").find("option:selected").val();
                $.post("@Url.Action("UpgradeCompute", "Me")", { selectGrade: grade }, function (res) {
                    if (res.Status) {

                        $(".deductedAmount").html(res.Data.DeductedAmount);
                        $(".onlinePaymentAmount").html(res.Data.OnlinePaymentAmount);


                        $("input[name='paymentamount']").val(res.Data.Amount);
                        $("input[name='paymentamount']").attr('placeholder', res.Data.Amount + '元');
                        $("a.tip").html(res.Data.Tips);
                        UI.Hide();
                    } else {
                        $(".deductedAmount").html("0");
                        $(".onlinePaymentAmount").html("");


                        UI.Tips(res.Message);
                        UI.Hide();
                    }
                });
            });

            $("a.submit").click(function() {

                var grade = $("input[name='grade']").val();

                if ($.vailCenter.isNullOrEmptySpance(grade)) {
                    UI.Tips("请选择代理级别");
                    return false;
                }

                var data = {
                    selectGrade: grade
                };

                UI.Loading();

                $.post("@Url.Action("Upgrade", "Me")", data, function(res) {
                    if (res.Status) {

                        UI.Tips(res.Message);

                        setTimeout(function() {
                            window.location.reload();
                        }, 1000);

                        UI.Hide();

                    } else {
                        if (res.StatusCode == "@(ErrorEnum.余额不足.GetHashCode())") {
                            UI.Confirm({
                                content: "升级失败！" + res.Message,
                                okBtnValue: "去充值",
                                okCallBack: function() {

                                    $.post("@Url.Action("UpgradeSaveRecharge", "Me")", { selectGrade: grade }, function(response) {
                                        if (response.Status) {
                                            window.location.href = "/Pay/GoPayWeiXin/" + response.Data;
                                            UI.Hide();
                                        } else {
                                            UI.Tips(response.Message);
                                            UI.Hide();
                                        }
                                    });
                                },
                                cancelCallBack: function() {
                                    UI.Hide();
                                }
                            });
                        } else {
                            UI.Tips(res.Message);
                            UI.Hide();
                        }
                    }
                });
            });
        });

    </script>
}

