@using EC.Entity.Enum
@model EC.Entity.Tables.CRM.CrCustomer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="topt mgz"></div>
<div class="top mgz xi28 cen bai">
    代理升级
    <div class="topl"><a href="@Url.Content("~/Me/Index")"><img src="/Theme/images/left.png" align='absmiddle' style="margin-top:-4px"></a></div>
</div>
@Html.Action("FundShow", "Me")
<form id="form" class="am-form tpl-form-line-form">
    <div class="con4 mgz">
        <ul>
            <li>
                <div class="con4l f xi24">当前级别</div>
                <div class="con4m f xi20">@((CustomerEnum.NewGrade)Model.Grade)</div>
            </li>
            <li>
                <div class="con4l f xi24">下一级别</div>
                <div class="con4m f xi20">@ViewBag.NextGrade
                </div>
            </li>
            <li>
                <div class="con4l f xi24">扣费金额</div>
                <div class="con4m f xi20 deductedAmount">@ViewBag.UpgradeAmount</div>
            </li>
            <li>
                <div class="con4l f xi24">在线支付</div>
                <div class="con4m f xi20 onlinePaymentAmount">@ViewBag.PayAmount</div>
            </li>
        </ul>
    </div>
    <div class="con9 mgz xi18">代理升级费用将从“升级基金”中扣除，不足部分需在线支付</div>
    <a href="#" class="submit"><div class="con10 mgz xi30 cen bai mg2">确认</div></a>
</form>
@section script{
    <script type="text/javascript">
        $(function() {
            var form = $("#form");


            $("a.submit").click(function() {

                UI.Loading();

                $.post("@Url.Action("Upgrade", "Me")", null, function (res) {

                    if (res.Status) {

                        UI.Tips(res.Message);

                        setTimeout(function() {
                            window.location.reload();
                        }, 1000);

                        UI.Hide();

                    } else {
                        if (res.StatusCode == "@(ErrorEnum.余额不足.GetHashCode())") {
                            UI.Confirm({
                                content: "升级失败！" + res.Message,
                                okBtnValue: "去充值",
                                okCallBack: function() {

                                    $.post("@Url.Action("UpgradeSaveRecharge", "Me")",null, function(response) {
                                        if (response.Status) {
                                            window.location.href = "/Pay/GoPayWeiXin/" + response.Data;
                                            UI.Hide();
                                        } else {
                                            UI.Tips(response.Message);
                                            UI.Hide();
                                        }
                                    });
                                },
                                cancelCallBack: function() {
                                    UI.Hide();
                                }
                            });
                        } else {
                            UI.Tips(res.Message);
                            UI.Hide();
                        }
                    }
                });
            });
        });

    </script>
}

